[submodule "auto-grader-server"]
	path = auto-grader-server
	url = git@github.com:njmwasmoringa/labs-autograder-server.git
[submodule "auto-grader-ui"]
	path = auto-grader-ui
	url = git@github.com:njmwasmoringa/labs-autograder-frontend.git
